
/* Navbar  Start*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.fp-box{
    display: flex;
    background-color:rgba(245, 245, 245, 0.99);
    justify-content: space-around;
    
}
.brand{
    color:#444444;
    font-size: 12px;
    display: flex;
}

.brand .material-icons{
    height: 30px;
}

.material-icons{
    display: flex;
    color: black;
    text-decoration: none;
    list-style: none;
    font-size: 12px;
}

.fp-logo{
    display: flex;
    color: black;
    list-style: none;
}

.fp-logo li a{
    text-decoration: none;
    list-style: none;
}

.fp-logo ul{
    display: flex;
    list-style: none;
}

.fp-logo li{
    margin: 5px;
    font-size: 10px;
    color: black;
}

section ul li a{
    color: black;
}














   



.navbar .col-12 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 700px;
    padding: 0px,5px;
}

.fp-logo{
    display: flex;
}


/* Navbar End*/



/* Menu Start */
 *{
     margin: 0px;
     padding: 0px;
     list-style: none;
     box-sizing: border-box;
 }

 .wrapper{
     width: 100%;

 }

.mega_menu{
    width: 100%;
    height: 60px;
}

.mega_menu ul{
    width: 100%;
    height: 100%;
    text-align: right;
    position: relative;
    line-height: 59px;
}

.mega_menu ul li{
    display: inline-block;
    margin: 0 15px;
    padding: 5 10px;
}

.mega_menu ul li a{
    text-decoration: none;
    color: #b8b8b8;
    text-transform: uppercase;
    font-size: 13px;
    display: block;
}


.mega_menu ul li .sub_menu{
    position: absolute;
    background: #f5f5f5;
    width: 100%;
    left: 0;
    top: 60px;
    padding: 25px 15px;
    display: flex;
    justify-content: space-around;
    line-height: 24px;
    visibility: hidden;
}


.mega_menu ul li:hover{
    background: #f5f5f5
    ;
}   

.mega_menu ul li:hover .sub_menu{
    visibility: visible;
}

.mega_menu ul li .sub_menu .col img{
    width: 100px;
    height: 150px;
    display: block;
    
}

.sub_menu{
    display: flex;
    flex-direction: column;
}
















/* Menu End */



/* Slider Start*/

*{
    margin: 0;
    padding: 0;
}

.cell{
    width: 33%;
    height: 350px;
    margin: 0 15px;
    overflow: hidden;
    border-radius: 8px;
}

.cell img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.basliq h1{
    color: #b6b6b4;
    font-size: 26px;
    text-align: center;
}










/* Slider End*/




/* Travel Start*/
.travel{
    display: flex;
}

.travel .col-4 img{
    height: 350px ;
    width: 450px;
}


.travel .aciqlama p{
    font-size: 17px ;
    color: #b8b8b8;
    margin: 30px;
}

.travel .aciqlama button{ 
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 6px 15px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    

}

.travel .aciqlama button:hover{
    transition: 1s;
    background: #E3E3E3;
}

.travel .aciqlama button a{
    font-size: 15px;
    color: #45589c;
}





/* Travel End*/




/*  Footer start*/
footer{
    background-color: #f5f5f5;
}

.son{
    display: flex;
    padding: 50px 0;
}


.col-4 img{
    width: 200px;
    height: 100px;
}

.col-4 p{
    font-size: 12px;
    color: #b6b6b4;
}

.col-4 .affiiates img{
    height: 50px;
    width: 40px;
    margin: 5px;
}


.col-4 h1{
    font-size: 15px;
    color: #b8b8b8;
    font-family: sans-serif;
}

.col-4 button{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px 30px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;

}

.col-4 button:hover{
    transition: 1s;
    background: #E3E3E3;
}
/*Footer End*/


/*Menyu Start */


.footerson ul{
    list-style: none;
    display: flex;
    margin: 20px;
    text-align: center;
    
}

.footerson ul li{
    margin: 10px 20px;
    font-size: 10px;

}


.container ul li a{
    color: #444444;
}

.container .saytson{
    background-color: #f5f5f5;
    height: 50px;
}





















/*Menyu End */














 










/*Footer End*/










