<div class="container">
    <div class="row">
        <div class="col">
            <div class="menu">
                <div class="brand">
                    <img src="{{url_for('static', filename='img/logo.png')}}" alt="">
                </div>
                <div class="menuyan">
                    <ul>
                        <li id="megam-box">
                            <a href="#">Products</a>
                            <ul id="megamenu">
                                    <div class="look">
                                        <h1>LOOK YOUNG</h1>
                                    </div>
                                <li><a href="../ageless.html" class="menu-item" >
                                    <img src="{{url_for('static', filename='img/instantlyAgelessFamily_en-SE.png')}}" alt="">
                                </a></li>

                                <li><a href="" class="menu-item" >
                                    <img src="{{url_for('static', filename='img/luminesceFamily_en-SE_11186.png')}}" alt="">
                                </a></li>

                                <li><a href="#" class="menu-item" >
                                    <img src="{{url_for('static', filename='img/menu-image-nv.png')}}" alt="">
                                </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="../templates/Support.html">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>