<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="navbar">
                    <div class="col-6">
                        <div class="brand">
                                <i class="fas fa-users"></i>
                                <a href="JoinNow.html">Join Now</a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="navbaryan">
                            <ul>
                                <li>
                                    <i class="fas fa-cog"></i>
                                    <a href="Support.html">Support</a>    
                                </li>
                                
                                <div class="earth">
                                    <div class="languages">
                                        
                                        <div class="active-lang az">EN</div>
                                        
                                        <a href=""><div class="active-lang en">AZ</div></a>

                                        <div class="active-lang tr">TR</div>
                                        
                                        <div class="active-lang ru">RU</div>

                                        <div class="lang-box">
                                        <div class="az-lang lang">EN</div>
                                        <div class="en-lang lang">AZ</div>
                                        <div class="tr-lang lang">TR</div>
                                        <div class="ru-lang lang">RU</div>
                                        </div>
                                    </div>
                                </div>

                                <li>
                                    <i class="fas fa-sign-in-alt"></i>
                                    <a href="Signin.html">Sign In</a>
                                </li>             
                            </ul>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>