<div class="container">
    <div class="row">
        <div class="col">
            <div class="menu">
                <div class="brand">
                    <a href="{{url_for('index')}}"><img src="{{url_for('static', filename='img/logo.png')}}" alt=""></a>
                </div>
                <div class="menuyan">
                    <li>
                        <a href="{{url_for('index')}}">Home</a>
                    </li>
                    <ul>
                        <li id="megam-box">
                            <a href="#">Products</a>
                            <ul id="megamenu">
                                <li><a href="../ageless.html" class="menu-item" >
                                    <img src="{{url_for('static', filename='img/instantlyAgelessFamily_en-SE.png')}}" alt="">
                                </a></li>

                                <li><a href="" class="menu-item" >
                                    <img src="{{url_for('static', filename='img/luminesceFamily_en-SE_11186.png')}}" alt="">
                                </a></li>

                                <li><a href="#" class="menu-item" >
                                    <img src="{{url_for('static', filename='img/menu-image-nv.png')}}" alt="">
                                </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{url_for('support')}}">About Us</a>
                        </li>
                        <li>
                            <a href="{{url_for('term')}}">Term of Use</a>
                        </li>
                        <li>
                            <a href="{{url_for('privacy')}}">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>