

.pr-items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    
}
.pr-item{
    height: 300px;
    border-radius: 5px;
    background: var(--extra);
    position: relative;
}
.pr-items img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: inherit;
}
.overlay{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 0px;
    left:0px;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0, .0 ) 100%);
    transition: all.3s linear;
}
.pr-item:hover .overlay{
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0, .8 ) 100%);
}


