

#age #ageless img{
    width: 100%;
    height:200px;
}

#haq{
    background:white;
}


#haq .haqqinda{
    display: flex;
}


#haq .haqqinda .col-6 img{
    width: 250px;
    height: 250px;
    background-color: white;
}

#haq .haqqinda .col-6 h1{
    color: #58595b;
    font-size: 23px;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

#haq .learn-btn{
    display: inline-block;
    text-decoration: none;
    color:#00a7b5;
    border: 2px solid #00a7b5;
    padding: 8px 30px;
    font-size: 19px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}



#haq .learn-btn:hover{
    background: rgba(128, 128, 128, 0.377);
    transition: 1s;
}

#video-age{
    background-color: #00a7b5;
    height: 370px;
}

#video-age{
    position: relative;
    text-align: center;
}

#video-age .video video{
    height: 300px;
    width: 500px;
}
#sonluq{
    background-color:white;
}

#sonluq .son .col-6 #evvel{
    font-size: 25px;
    color:#777;
}


#sonluq .son .col-6 #esas{
    font-size: 20px;
    color:#777;
}


#sonluq .son .col-6 #sonluq{
    font-size: 15px;
    color:#777;
}

#almaq{
    background-color:#f8f8f8bb;
}

#almaq .almaq{
    display: flex;
}

#sonluq .son .col-6 img{
    width: 500px;
    height: 400px;
}

#almaq .almaq h1{
    color: #777;
}

#almaq .almaq p{
    color: #777;
}

#almaq .almaq .col-6 .number{
    width: 60px;
    height: 35px;
}

#almaq .almaq .col-6 img{
    width: 300px;
    height: 300px;
}


#almaq .almaq .col-6 .learn-btn{
    display: inline-block;
    text-decoration: none;
    color:#00a7b5;
    border: 2px solid #00a7b5;
    padding: 8px 22px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}



#almaq .almaq .col-6 .learn-btn:hover{
    background: rgba(128, 128, 128, 0.377);
    transition: 1s;
}

#almaq .almaq #barcod{
    color: red;
}

#almaq .almaq #hq{
    color: #58595b;
    font-size: 17px;
}






