#age{
    background:white;
}

#age #ageless img{
    height: 700px;
    width: 100%;
}



#video-age{
    background-color: #00a7b5;
    height: 370px;
}

#video-age{
    position: relative;
    text-align: center;
}

#video-age .video video{
    height: 300px;
    width: 500px;
}


#sonluq .son .col-6 #evvel{
    font-size: 25px;
    color:#777;
}


#sonluq .son .col-6 #esas{
    font-size: 20px;
    color:#777;
}


#sonluq .son .col-6 #sonluq{
    font-size: 15px;
    color:#777;
}


#almaq .l-1{
    display: flex;
}

#sonluq .son .col-6 img{
    width: 500px;
    height: 400px;
}

#almaq .l-1 h1{
    color: #777;
}

#almaq .l-1 p{
    color: #777;
}

#almaq .l-1 .col-6 .number{
    width: 60px;
    height: 35px;
}

#almaq .l-1 .col-6 img{
    width: 300px;
    height: 300px;
}



#almaq .l-1 .col-6 .learn-btn{
    display: inline-block;
    text-decoration: none;
    color:#00a7b5;
    border: 2px solid #00a7b5;
    padding: 5px 13px;
    font-size: 12px;
    position: relative;
    cursor: pointer;
}



#almaq .l-1 .col-6 .learn-btn:hover{
    background: rgba(128, 128, 128, 0.377);
    transition: 1s;
}

#almaq .l-1 #barcod{
    color: red;
}

#almaq .l-1 #hq{
    color: #58595b;
    font-size: 17px;
}
















#almaq .l-2{
    display: flex;
    background-color:white;
}



#almaq .l-2 h1{
    color: #777;
}

#almaq .l-2 p{
    color: #777;
}

#almaq .l-2 .col-6 .number{
    width: 60px;
    height: 35px;
}

#almaq .l-2 .col-6 img{
    width: 300px;
    height: 300px;
}



#almaq .l-2 .col-6 .learn-btn{
    display: inline-block;
    text-decoration: none;
    color:#00a7b5;
    border: 2px solid #00a7b5;
    padding: 5px 13px;
    font-size: 12px;
    position: relative;
    cursor: pointer;
}



#almaq .l-2 .col-6 .learn-btn:hover{
    background: rgba(128, 128, 128, 0.377);
    transition: 1s;
}

#almaq .l-2 #barcod{
    color: red;
}

#almaq .l-2 #hq{
    color: #58595b;
    font-size: 17px;
}




