/* Menu Start */
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

.menu .brand img{
   font-size: 16px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}

.menuyan{
    display: flex;
}

.menuyan ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    position: relative;
}

.menuyan .menuad li a{
    color: #b5b5b5;
    font-size: 20px;
    position: relative;
}

.menu .menuyan ul li a{
    color: #b5b5b5;
    margin: 15px;
}

.menuyan li a{
    color: #b5b5b5;
    font-size: 20px;
    margin: 15px;
}




/* Menu End */

/* Mega Menu Start */

#megam-box{
    position: relative;
}

#megam-box:hover #megamenu,#megamenu:hover{
    display: flex;
}

#megamenu{
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 7;
    background-color: white;
    height: 300px;
    width: 1400px;
}

#megamenu .menu-item{
    display: flex;
    padding: 15px 20px;
    color: white;
    background-color: #ffffff;
}


#megamenu .menu-item img{
    height: 100px;
    width: 120px;

}


.menuyan #megam-box a{
    margin: 30px;
}




/* Mega menu End */



/* Video Start */
.section{
    position: relative;
}

.section video{
    height: 100%;
    width: 100%;
    text-align: center;
}

.section h1{
    position: absolute;
    text-align: center;
    font-size: 150px;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    color: #feffff;
}

.video-container{
    top: 0;
    left: 0;
    width: 100%;
}


/* Video End */




/* Slider Start*/

*{
    margin: 0;
    padding: 0;
}

.cell{
    width: 33%;
    height: 390px;
    margin: 0 15px;
    overflow: hidden;
    border-radius: 8px;
}

.cell img{
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.basliq h1{
    color: #b6b6b4;
    font-size: 26px;
    text-align: center;
}


/* Slider End*/

/* Icon bar Start*/
.icons{
    left: 0;
    transform: translateY(-50%);
    z-index: 100;
}

.icons ul{
    padding: initial;
}

.icons ul li{
    height: 40px;
    width: 40px;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    color: #fff;
    background: #000;
}



.icons ul li:hover{
    padding-left: 30px;
    width: 80px;
    transition: 1s;
}

/* Icon bar End*/


/*Blog Start*/
#blog .blog .col-4{
    border: 1px solid gray;
    background-color: white;
}

.blog{
    display: flex;
    padding: 25px;
}

#blog .blog .col-4 img{
    width: 100%;
    vertical-align: middle;
    text-align: center;
    border: 0;
    margin: 0;
    padding: 0;
}


#blog .blog .col-4 h1{
    color: #b3b1ad;
    font-size: 20px;
}

#blog .blog .col-4 button{
    background-color: white;
    color: blue;
    padding: 140px;
}


/*Blog End*/




/*  Footer start*/
footer{
    background-color: #f5f5f5;
}

.son{
    display: flex;
    padding: 50px 0;
}


.col img{
    width: 70px;
    height: 70px;
}



.col p{
    font-size: 12px;
    color: #b6b6b4;
}

.col .affiiates img{
    height: 50px;
    width: 40px;
    margin: 5px;
}

.connect .qr-code img{
    width: 120px;
    height: 140px;
}


.connect ul{
    display: flex;
}

.col a i{
    color: white;
    font-size: inherit;
}

.footer-icons {
    width: 185px;
    display: flex;
    justify-content: space-around;
    color: #1c1919;
    list-style: none;
}
.footer-icons li{
    border-radius: 15%;
    width: 40px;
    height: 40px;
    color: white;
    margin-top: 20px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.footer-icons li:hover{
    color: black;
    background-color: #3155a4;
    transition: all ease 0s;
}


.col h1{
    font-size: 15px;
    color: #b8b8b8;
    font-family: sans-serif;
}

.col button{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px 30px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;

}

.col button:hover{
    transition: 1s;
    background: #E3E3E3;
}
.footerson ul{
    list-style: none;
    display: flex;
    margin: 20px;
    text-align: center;
    
}

.footerson ul li{
    margin: 15px 20px;
    font-size: 13px;
    text-align: center;
}


.container ul li a{
    color: #444444;
}


.footer-bottom {
    background-color: #f5f5f5;
    padding: 15px 0 5px;
    height: 55px;
}

.col a{
    color: black;
    font-family: serif;
}
.hq h1{
    color: black;
    font-size: 24px;
}
/*Footer End*/
