{% extends 'base.html' %}

{% block content %}
    <section id="lumines">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="lumines">
                        <img src="{{url_for('static', filename='img/age.jpg')}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="video-age">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="video">
                        <video controls>
                            <source src="{{url_for('static', filename='video/Luminesce.mp4')}}" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}