{% extends 'base.html' %}

{% block content %}

        <!--CSS-->
        

    <!--Video-->
    <div class="section">  
        <h1>SEANESSE</h1>
        <!-- h1-i positonu absalute elə -->
        <div class="video-container">
            <video autoplay loop muted>
                <source src="{{url_for('static', filename='video/Seanesse.mp4')}}" type="video/mp4">
            </video>
        </div>
    </div>
    
    <!--Slider-->
    <div class="basliq">
        <h1>We are passionate about redefining youth through our revolutionary products and life‑changing opportunities.</h1>
    </div>
    
                    <div class="main-carousel">

                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/images/products/originals/CRS-002.jpg"></div>
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/images/products/originals/YRC-002.jpg"></div>
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/images/products/originals/EBR-002.jpg"></div>
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/images/products/originals/ULM-002.jpg"></div>
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/Images/products/originals/FSB.jpg"></div>
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/images/products/originals/ANR-002.jpg"></div>
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/images/products/originals/DMC-002.jpg"></div>
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/images/products/originals/Instantly_Ageless_300px.jpg"></div>
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/images/products/originals/NV_SinglePrimer-BackOffice.jpg"></div>
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/images/products/originals/NV_SingleBronzer-Cart.jpg"></div>
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/images/products/originals/jeunesse-bb-mist-500.png"></div>
                    </div>


    





    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <script type="text/javascript">
        $('.main-carousel').flickity({
        // options
        cellAlign: 'left',
        wrapAround:true,
        freeScroll: true
        });
    </script>

    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="blog">
                    <div class="col-4">
                        <img src="https://d2dqksvx8j00ig.cloudfront.net/JFront/Cms/Prod/Images/Live/blog_building_brighter_tomorrows_in_the_bahamas_small_en-US_16035.jpg" alt="">
                        <h1>Building brighter tomorrows in the Bahamas</h1>
                        <h1 id="date">
                            May 1, 2020
                        </h1>
                        <p>Hurricane Dorian hit the Bahamas as a Category 5 storm in 2019, going down in history as the country’s worst natural disaster.Due to the prolonged and intense storm conditions, many lives were lost</p>
                        <a href="{{url_for('building')}}"><button id="devam">Devam</button></a>
                    </div>   
                    <div class="col-4">
                        <img src="https://d2dqksvx8j00ig.cloudfront.net/JFront/Cms/Prod/Images/Live/blog_building_brighter_tomorrows_in_the_bahamas_small_en-US_16035.jpg" alt="">
                        <h1>Helping Kids Beating Cancer in 2020 and beyond</h1>
                        <h1 id="date">
                            Apr 29, 2020
                        </h1>
                        <p>At EXPO NEXT 2019: Orlando, Jeunesse Kids provided a $1 million grant to Kids Beating Cancer. This grant is helping fund a state-of-the-art cellular therapy lab, which will offer the latest stem cell therapy and bone</p>
                        <a href="{{url_for('helping')}}"><button id="devam">Devam</button></a>
                    </div>
                    <div class="col-4">
                        <img src="https://d2dqksvx8j00ig.cloudfront.net/JFront/Cms/Prod/Images/Live/blog_building_brighter_tomorrows_in_the_bahamas_small_en-US_16035.jpg" alt="">
                        <h1>Uplifting communities – updates from our WE Villages partnership</h1>
                        <h1 id="date">
                            Apr 27, 2020
                        </h1>
                        <p>Jeunesse Kids has partnered with WE Charity since 2014 to build stable, thriving communities that give people the power and dignity to support themselves. To date, Jeunesse Kids has adopted seven </p>
                        <a href="{{url_for('uplifting')}}"><button id="devam">Devam</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Icon bar-->
    <div class="icons">
        <ul>
            <a href="#"><li class="instagram"><i class="fab fa-instagram"></i></li></a>
            <a href="#"><li class="whatsapp"><i class="fab fa-whatsapp"></i></li></a>
        </ul>
    </div>






    <!--Footer Start-->

    
{% endblock %}