<!-- 

<form action="" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control" name="title" >
    </div>
    
    <select class="custom-select" name="category">
        {% for category in categories %}
            <option value="{{category.title}}">{{category.title}}</option>
        {% endfor %}
    </select>

    <div class="form-group">
        <label>Short Description:</label>
    <input type="text" class="form-control"  name="short-desc">
    </div>

    <div class="form-group">
        <label>Image:</label>
        <input type="file" class="form-control" name="file">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Add Recipe</button>

</form>
</div>


 <a href=""><button type="button" class="btn btn-success float-left"
    data-toggle="modal">See Products</button></a> -->

    <div>
        <div class="p-2 btn-group btn-block">
            <a href="" class="btn btn-primary d-inline-block ">Button</a>
            <a href="" class="btn btn-primary d-inline-block ">Button</a>
            <a href="" class="btn btn-primary d-inline-block ">Button</a>
            <a href="" class="btn btn-primary d-inline-block ">Button</a>
            <a href="" class="btn btn-primary d-inline-block ">Button</a>
        </div>
    </div>
