<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        {% include "includes/navbar.html"}

        {% include "includes/menu.html"}

        {% block content %} {% end block %}

        {% include "includes/footer.html"}

        <link rel="stylesheet" href="{{url_for('static', filename='js/MyPortfolio.js')}}">
</body>
</html>


