{% extends 'base.html' %}

{% block content %}

        <!--CSS-->
        

    <!--Video-->
    <div class="section">  
        <h1>SEANESSE</h1>
        <!-- h1-i positonu absalute elə -->
        <div class="video-container">
            <video autoplay loop muted>
                <source src="{{url_for('static', filename='video/Seanesse.mp4')}}" type="video/mp4">
            </video>
        </div>
    </div>
    
    <!--Slider-->
    <div class="basliq">
        <h1>We are passionate about redefining youth through our revolutionary products and life‑changing opportunities.</h1>
    </div>
    
                    <div class="main-carousel">
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/images/products/originals/CRS-002.jpg"></div>
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/images/products/originals/YRC-002.jpg"></div>
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/images/products/originals/EBR-002.jpg"></div>
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/images/products/originals/ULM-002.jpg"></div>
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/Images/products/originals/FSB.jpg"></div>
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/images/products/originals/ANR-002.jpg"></div>
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/images/products/originals/DMC-002.jpg"></div>
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/images/products/originals/Instantly_Ageless_300px.jpg"></div>
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/images/products/originals/NV_SinglePrimer-BackOffice.jpg"></div>
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/images/products/originals/NV_SingleBronzer-Cart.jpg"></div>
                        <div class="cell"><img src="https://joffice.jeunesseglobal.com/images/products/originals/jeunesse-bb-mist-500.png"></div>
                    </div>


    





    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <script type="text/javascript">
        $('.main-carousel').flickity({
        // options
        cellAlign: 'left',
        wrapAround:true,
        freeScroll: true
        });
    </script>

    <!--Icon bar-->
    <div class="icons">
        <ul>
            <a href="#"><li class="instagram"><i class="fab fa-instagram"></i></li></a>
            <a href="#"><li class="whatsapp"><i class="fab fa-whatsapp"></i></li></a>
        </ul>
    </div>




    <!--Footer Start-->

    
{% endblock %}