
/* Starter Page Start */

.ss h2{
    font-size: 50px;
    text-align: center;
}
.dd h3{
    font-family: serif;
    text-align:center;
    font-size: 50px;
}
img{
    height: 50px;
    width: 50px;
    text-align: center;
}

/* Starter Page End