{% extends 'base.html' %}

{% block content %}

    <section id="age">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="ageless">
                       <img src="{{url_for('static', filename='img/age.jpg')}}" alt="">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="haq">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="haqqinda">
                        <div class="col-6">
                            <img src="{{url_for('static', filename='img/instantly.jpg')}}" alt="">
                        </div>
                        <div class="col-6">
                            <h1>Within 2 minutes, Instantly Ageless immediately   the appearance of under-eye bags, fine lines, wrinkles and pores, and lasts 6 to 9 hours.</h1>
                            <h1>This specifically designed micro cream targets areas that have lost elasticity — revealing visibly toned, lifted skin.</h1>
                            <a href="#" type="button" class="learn-btn">Want instant results? Learn how!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="video-age">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="video">
                        <video controls>
                            <source src="{{url_for('static', filename='video/ageless.mp4')}}" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sonluq">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="son">
                        <div class="col-6">
                            <h1 id="evvel">APPLICATION TIPS FOR TARGET AREAS:</h1>
                            <h1 id="esas">1. FOREHEAD WRINKLES</h1>
                            <p id="sonluq">Lightly dab cream across the entire forehead, not just the areas with lines.</p>
                            <h1 id="esas">2. EYEBROWS</h1>
                            <p id="sonluq">For an instant “brow lift,” apply just above your natural eyebrow line.</p>
                            <h1 id="esas">3. HOODED EYES</h1>
                            <p id="sonluq">Apply just below your natural eyebrow; do not apply on the movable eyelid.</p>
                            <div class="dis">
                                <h1 id="esas">4. UNDER-EYE BAGS & CROW’S FEET</h1>
                                <p id="sonluq">Lightly dab cream on the entire under-eye area, from lower eyelashes to upper cheek, and inner to outer corners.</p>
                                <h1 id="esas">5. FACIAL PORES</h1>
                                <p id="sonluq">Gently pat cream sparingly to target areas.</p>
                            </div>
                            

                        </div>
                        <div class="col-6">
                            <img src="{{url_for('static', filename='img/son.jpg')}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="almaq">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="agele">
                        <div class="col-6">
                            <img src="{{url_for('static', filename='img/instantly.jpg')}}" alt="">
                        </div>
                        <div class="kicik">
                            <h1>Instantly Ageless™</h1>
                            <p>TL615.69 Buy Now Price</p>
                            <form action="">
                                <input type="number" class="number">
                            </form>
                            <a href="#" type="button" class="learn-btn">ADD TO CART</a>
                            <p id="barcod">Barcod No: 8681756005420</p>
                            <p id="hq">Instantly Ageless is a powerful anti-wrinkle microcream that works quickly and effectively to diminish the visible signs of aging.</p>
                            <p id="hq">SIZE: 25 vials ( 5 strips of 5 multi-use vials) - 0.6 ml each (15 ml total)</p>
                            
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
