{% extends 'base.html' %}

{% block content %}
    <h1 id="basliq">Building brighter tomorrows in the Bahamas</h1>
    <h1 id="date">May 1, 2020</h1>
    <img id="sekil" src="https://d2dqksvx8j00ig.cloudfront.net/JFront/Cms/Prod/Images/Live/blog_building_brighter_tomorrows_in_the_bahamas_small_en-US_16035.jpg" alt="">
    <p id="aciqlama">Hurricane Dorian hit the Bahamas as a Category 5 storm in 2019, going down in history as the country’s worst natural disaster.</p>
    <p id="aciqlama">Due to the prolonged and intense storm conditions, many lives were lost, homes and schools were destroyed, and it is estimated to have caused $3.4 billion in damages</p>
    <p id="aciqlama">To help children and communities impacted by this devastating hurricane, Jeunesse Kids partnered with the All Hands and Hearts Foundation and donated $100,000 USD to support the relief efforts in the Bahamas.</p>
    <h1 id="bas">WHY THE ALL HANDS AND HEARTS FOUNDATION?</h1>
    <p id="aciqlama">The All Hands and Hearts Foundation has earned the highest 4-star rating on Charity Navigator – the largest and most-utilized evaluator of charities in the United States – for six consecutive years.</p>
    <p id="aciqlama">When natural disasters strike, the Foundation is dedicated to arriving early and staying late to work hand-in-hand with residents affected most by disasters, such as Hurricane Dorian.</p>
    <p id="aciqlama">All Hands and Hearts focuses on building safe, resilient schools, homes and other community infrastructures, while being extremely efficient with administrative expenses. Ninety-six cents of every dollar go directly to the programs and services they provide.</p>
    <h1 id="bas">PARTNERSHIP UPDATE: HOW ARE WE DOING?</h1>
    <p id="aciqlama">Prior to the COVID-19 outbreak, All Hands and Hearts had completed 175 jobs with many more in progress, including construction on homes in the Bahamian Abaco islands and work on seven schools.</p>
    <p id="aciqlama">So far, 2,219 people in the Bahamas have been positively impacted by All Hands and Hearts, as 453 of their volunteers have cooked meals, stabilized the stray animal population and reconstructed buildings.</p>
    <p id="aciqlama">“On behalf of All Hands and Hearts, I cannot thank Jeunesse Kids enough for the generous contribution to support the rebuilding of schools on the islands of Abaco after the devastation caused by Hurricane Dorian.”</p>
    <p id="bit">– Gina Deave, All Hands and Hearts Director of Corporate Relations</p>
{% endblock %}
