{% extends 'base.html' %}

{% block content %}
    <div class="metin">
        <h1 id="basliq">Uplifting communities – updates from our WE Villages partnership</h1>
        <h1 id="date">Apr 27, 2020</h1>
        <img id="sekil" src="https://d2dqksvx8j00ig.cloudfront.net/JFront/Cms/Prod/Images/Live/blog_building_brighter_tomorrows_in_the_bahamas_small_en-US_16035.jpg" alt="">
        <p id="aciqlama">Jeunesse Kids has partnered with WE Charity since 2014 to build stable, thriving communities that give people the power and dignity to support themselves. To date, Jeunesse Kids has adopted seven communities, helping to empower a new generation of community members with the tools and resources necessary to lift their families and communities out of poverty.</p>
        <h1 id="bas">Villages sponsored by Jeunesse Kids</h1>
        <p id="aciqlama">1.Irkaat, Kenya</p>
        <p id="aciqlama">2.Kesebek, Kenya</p>
        <h1 id="bas">Pillars of Impact</h1>
        <p id="aciqlama">Through our partnership, Jeunesse Kids uses WE Charity’s five Pillars of Impact development model to help communities find true independence. The five focus areas are:</p>
        <p id="aciqlama">1.Education</p>
        <p id="aciqlama">2.Water</p>
        <p id="aciqlama">3.Health</p>
        <p id="aciqlama">4.Food</p>
        <p id="aciqlama">5.Opportunity</p>
        <p id="aciqlama">After providing holistic, permanent solutions to sustainable development related to these five Pillars of Impact, we’re proud to share the progress made in each of the communities</p>
        <h1 id="villages">WE VILLAGES UPDATES</h1>
        <h1 id="bas">IRKAAT, KENYA</h1>
        <h1 id="aciq">Education</h1>
        <p id="aciqlama">Thanks to the contribution from Jeunesse Kids to WE, Irkaat now has:</p>
        <p id="aciqlama">10 classrooms and a library</p>
        <p id="aciqlama">A school nutrition program</p>
        <p id="aciqlama">A School Management Committee comprised of local community leaders</p>
        <p id="aciqlama">A school pride program</p>
        <p id="aciqlama">Teacher trainings facilitated by the Ministry of Education</p>
        <p id="aciqlama">“The learning environment has changed completely. Now we have permanent, quality classrooms that can withstand any weather conditions. Pupils and teachers are more comfortable, which makes teaching and learning easier. The school population has risen over the years since WE came in; it’s the most populated school in the Lemek zone of Narok County.”</p>
        <p id="bit">– Wafula Nyongesa, long-time Irkaat educator</p>
        <h1 id="aciq">Water</h1>
        <p id="aciqlama">Prior to Jeunesse Kids adopting the village of Irkaat, girls there were responsible for the 2.5-hour process of collecting water. Since 2016, the addition of a borehole has reduced the time to access water from 2.5 hours to 30 minutes. Closer water access has freed more girls from the responsibility to collect water, allowing them the opportunity to attain an education. Our focus on the Water Pillar has also provided the village with:</p>
        <p id="aciqlama">A community water kiosk</p>
        <p id="aciqlama">School handwashing station</p>
        <p id="aciqlama">Six gender-specific school latrine blocks</p>
        <p id="aciqlama">Individual water connections to homes</p>
        <p id="aciqlama">Ongoing handwashing training</p>
        <h1 id="aciq">Health</h1>
        <p id="aciqlama">Access to health care was also extremely limited in Irkaat prior to the Jeunesse Kids partnership with WE, but now, the community has:</p>
        <p id="aciqlama">Deworming clinics</p>
        <p id="aciqlama">Health education workshops</p>
        <p id="aciqlama">Mobile health clinic visits</p>
        <p id="aciqlama">The current priority is to ensure equal access to care and training for all community members through mobile clinics that allow Community Health Workers to visit rural communities to offer basic healthcare services, health education, as well as health-related prevention and promotion activities.</p>
        <h1 id="aciq">Food</h1>
        <p id="aciqlama">With the support of Jeunesse Kids, WE has worked to equip the village with the tools, resources and techniques to:</p>
        <p id="aciqlama">Enhance crop dependability</p>
        <p id="aciqlama">Increase agricultural production</p>
        <p id="aciqlama">Improve the nutritional value of food crops</p>
        <p id="aciqlama">These interventions are continually helping decrease vulnerability to external factors and improve agricultural productivity and household food security.</p>
        <h1 id="aciq">Opportunity</h1>
        <p id="aciqlama">Thanks to the support from Jeunesse Kids, WE continues to support women’s, men’s and youth groups. During the past quarter, these groups:</p>
        <p id="aciqlama"> Bought and distributed goats, sheep, cows, chickens and hens among members</p>
        <p id="aciqlama">Leased land for farming and planted maize and beans</p>
        <p id="aciqlama">Built a chicken house in preparation for chickens they will soon receive</p>
        <h1 id="bas">KESEBEK, KENYA</h1>
        <h1 id="aciq">Education</h1>
        <p id="aciqlama">The construction of the first classroom has begun and is set to be completed this summer. In addition, funding from Jeunesse Kids has provided:</p>
        <p id="aciqlama">A school pride awards program</p>
        <p id="aciqlama">Teacher skills and competencies trainings</p>
        <p id="aciqlama">Head Teachers’ Focus Groups</p>
        <h1 id="aciq">Water</h1>
        <p id="aciqlama">In Kesebek, safe drinking water is a major concern. The community has elected a 13-member Water Management Committee who are being provided with water purification knowledge and skills, as well as being trained as clean water ambassadors to prepare for the upcoming community borehole project. In addition, handwashing training has been implemented at the primary school.</p>
        <h1 id="aciq">Health</h1>
        <p id="aciqlama">Few community members use hospital health care services due to financial constraints and a lack of education about the available services. The WE Villages team in Kesebek has provided three mobile clinics in the past quarter, providing treatment for small ailments, immunizations, deworming, vitamin supplements, antenatal checkups for mothers and a couple hospital referrals.</p>
        <p id="aciqlama">WE Villages is working with local health care professionals to provide comprehensive trainings and workshops in Kesebek that will help community members reduce preventable diseases, mitigate illnesses, access health resources and enjoy a higher quality of life.</p>
        <h1 id="aciq">Food</h1>
        <p id="aciqlama">During certain periods of the year, families have insufficient access to healthy and nutritious meals, creating food insecurity. The WE Food Team has met with community groups to conduct agricultural trainings to improve crop dependability and nutritional values as well as increase agricultural production. Groups also visited the new apiary center to learn about modern beekeeping and purchased Hass avocado fruits for planting at their individual farms.</p>
        <h1 id="aciq">Opportunity</h1>
        <p id="aciqlama">Given the barriers to education and health care that result from financial instability, the Opportunity Pillar will be a major focus in Kesebek. WE will form groups for women, men and youth, holding trainings and workshops on improving financial security and contributing to sustainable change in the community.</p>
        <h1 id="bas">DAO LAZUI, CHINA</h1>
        <p id="aciqlama">Partnered with Jeunesse Kids since 2014, the village of Dao Lazui has transformed significantly in just six years.</p>
        <h1 id="aciq">Education</h1>
        <p id="aciqlama">Thanks to the support of Jeunesse Kids, WE has constructed:</p>
        <p id="aciqlama">Five classrooms</p>
        <p id="aciqlama">A library</p>
        <p id="aciqlama">Two teacher accommodations and two offices</p>
        <p id="aciqlama">A school kitchen</p>
        <p id="aciqlama">Funding provided by Jeunesse Kids is being used to create a school playground to help promote physical, social and emotional development. Funding has also provided ongoing teacher training and repairs to the road leading to the school, making it easier, safer and quicker for children to get to school.</p>
        <h1 id="aciq">Water</h1>
        <p id="aciqlama">The completion of a borehole in Dao Lazui supplies water to a significant portion of the community and has significantly decreased the rate of disease and illness in the community, improved the health and sanitation of children and families, increased school attendance and has allowed for clean food preparation.</p>
        <h1 id="aciq">Food</h1>
        <p id="aciqlama">Food security in the community has also improved. Now more than 100 farmers have over 120 animals, which improves the nutritional intake and vitality of community members and children and has led to healthier students and families.</p>
    </div>

{% endblock %}