{% extends 'base.html' %}

{% block content %}
    <h1 id="basliq">Helping Kids Beating Cancer in 2020 and beyond</h1>
    <h1 id="date">Apr 29, 2020</h1>
    <img id="sekil" src="https://d2dqksvx8j00ig.cloudfront.net/JFront/Cms/Prod/Images/Live/blog_building_brighter_tomorrows_in_the_bahamas_small_en-US_16035.jpg" alt="">
    <p id="aciqlama">At EXPO NEXT 2019: Orlando, Jeunesse Kids provided a $1 million grant to Kids Beating Cancer. This grant is helping fund a state-of-the-art cellular therapy lab, which will offer the latest stem cell therapy and bone marrow transplants to save the lives of children battling cancer.</p>
    <h1 id="bas">A MEMORABLE MOMENT: CHECK PRESENTATION AT EXPO</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_j4F2BT68e8?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h1 id="bas">BIG DONATION, BIG IMPACT</h1>
    <p id="aciqlama">The grant from Jeunesse Kids means the dream of a new cellular therapy lab and equipment can become a reality for Kids Beating Cancer.</p>
    <p id="aciqlama">The new 6,412-square-foot lab is anticipated to open in 2021 with a ribbon-cutting ceremony, which will signify all the incredible strides to come.</p>
    <p id="aciqlama">Utilizing the donation from Jeunesse Kids, Kids Beating Cancer has purchased several key pieces of advanced technology equipment, which when the lab opens, will be moved to its permanent home. Until then, it’s already at work helping improve patient care and treatment outcomes for kids with cancer.</p>
    <p id="aciqlama">The new equipment, including a flow cytometer, is capable of providing deeper cellular analysis than the former equipment, which enables practitioners to facilitate more accurate treatment.</p>
    <p id="aciqlama">In addition to improved cellular analysis, the equipment dramatically reduces wait and treatment times, resulting in improved experiences for children and the ability for the lab to treat a greater number of patients.</p>
    <p id="aciqlama">Before Jeunesse Kids provided the grant, a lack of funding meant the current Kids Beating Cancer lab had run out of cryogenic storage. Since, the organization has purchased two liquid nitrogen storage tanks, so more cell samples can be stored and analyzed at the lab.</p>
    <p id="aciqlama">This is just the beginning of all the amazing outcomes that are possible from the Jeunesse Kids contribution to Kids Beating Cancer, a donation generously funded by our Jeunesse Family of Distributors, employees and caring individuals around the world.</p>
    <h1 id="bas">THANKS FROM KIDS BEATING CANCER</h1>
    <p id="aciqlama">“We cannot thank Jeunesse Kids enough for funding the Kids Beating Cancer Cellular Therapy Lab. This new facility will be four times the size of our existing lab and will offer new state-of-the-art equipment to save the lives of more children, improve the quality of the lives of the children treated, and to conduct research that could one day find a cure to pediatric cancer.</p>
    <p id="aciqlama">Kids Beating Cancer Founder Margaret Guedes’ son John died of leukemia in 1992. Since that time, it has been Margaret’s deepest dream to find a cure and treatment for leukemia. Because of the Jeunesse Kids funding, we are one step closer to making that dream a reality.”</p>
    <p id="bit">– Kids Beating Cancer Chief Operating Officer Sam Azar</p>
    <h1 id="bas">BE PART OF OUR MISSION</h1>
    <p id="aciqlama">To make a contribution to Jeunesse Kids, or to learn more about the nonprofit, visit</p>
{% endblock %}