{% extends 'base.html' %}

{% block content %}

    <section id="age">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="ageless">
                       <img src="{{url_for('static', filename='img/luminesc.jpg')}}" alt="">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>





    <section id="video-age">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="video">
                        <video controls>
                            <source src="{{url_for('static', filename='video/Luminesce.mp4')}}" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="almaq">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="l-1">
                        <div class="col-6">
                            <div class="lum">
                                <img src="{{url_for('static', filename='img/l1.jpg')}}" alt="">
                            </div>
                            
                        </div>
                        <div class="qisa">
                            <div class="col-6">
                                <h1>Luminesce® Cellular Rejuvenation Serum</h1>
                                <p>TL1,072.15 Buy Now Price</p>
                                <form action="">
                                    <input type="number" class="number">
                                </form>
                                <a href="#" type="button" class="learn-btn">ADD TO CART</a>
                                <p id="barcod">Barcod No: 8681756005420</p>
                                <p id="hq">Bring out your skin's luminous glow with this effective serum. Dermatologist-developed, this must-have serum helps minimize the look of fine lines and wrinkles to restore your skin’s youthful radiance.</p>
                                <p id="hq">SIZE: 15 mL (0.5 oz.)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="l-2">
                        <div class="col-6">
                            <div class="lum">
                                <img src="{{url_for('static', filename='img/l2.jpg')}}" alt="">
                            </div>
                            
                        </div>
                        <div class="qisa">
                            <div class="col-6">
                                <h1>Luminesce® Daily Moisturizing Complex</h1>
                                <p>TL900 Buy Now Price</p>
                                <form action="">
                                    <input type="number" class="number">
                                </form>
                                <a href="#" type="button" class="learn-btn">ADD TO CART</a>
                                <p id="barcod">Barcod No: 8681756005420</p>
                                <p id="hq">Nourish and protect your radiant glow all day, every day. This lightweight facial lotion protects and moisturizes with fruit and legume extracts to keep skin looking vibrant and beautiful.</p>
                                <p id="hq">SIZE: 30 mL (1 oz.)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="l-1">
                        <div class="col-6">
                            <div class="lum">
                                <img src="{{url_for('static', filename='img/l3.jpg')}}" alt="">
                            </div>
                            
                        </div>
                        <div class="qisa">
                            <div class="col-6">
                                <h1>Luminesce® Advanced Night Repair</h1>
                                <p>TL1,072.15 Buy Now Price</p>
                                <form action="">
                                    <input type="number" class="number">
                                </form>
                                <a href="#" type="button" class="learn-btn">ADD TO CART</a>
                                <p id="barcod">Barcod No: 8681756005420</p>
                                <p id="hq">Replenish and restore your skin while you sleep. Formulated with antioxidants and hydrating ingredients. This moisturizing night cream restores luminosity while reducing the appearance of fine dehydration lines for a more youthful-looking appearance. Wake up looking rested and refreshed.</p>
                                <p id="hq">SIZE: 30 mL (1 oz.)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="l-2">
                        <div class="col-6">
                            <div class="lum">
                                <img src="{{url_for('static', filename='img/l4.jfif')}}" alt="">
                            </div>
                            
                        </div>
                        <div class="qisa">
                            <div class="col-6">
                                <h1>Luminesce® Essential Body Renewal</h1>
                                <p>TL610.22 Buy Now Price</p>
                                <form action="">
                                    <input type="number" class="number">
                                </form>
                                <a href="#" type="button" class="learn-btn">ADD TO CART</a>
                                <p id="barcod">Barcod No: 8681756005420</p>
                                <p id="hq">Moisturize your skin with this luxe body lotion. This lightweight formula, enriched with fruit and legume extracts, provides long-lasting hydration and rejuvenation. This non-greasy moisturizer helps maintain your youthful radiance from head to toe.</p>
                                <p id="hq">SIZE: 150 mL (5 oz.))</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="l-1">
                        <div class="col-6">
                            <div class="lum">
                                <img src="{{url_for('static', filename='img/l5.jfif')}}" alt="">
                            </div>
                            
                        </div>
                        <div class="qisa">
                            <div class="col-6">
                                <h1>Luminesce® Ultimate Lifting Masque</h1>
                                <p>TL700.42 Buy Now Price</p>
                                <form action="">
                                    <input type="number" class="number">
                                </form>
                                <a href="#" type="button" class="learn-btn">ADD TO CART</a>
                                <p id="barcod">Barcod No: 8681756005420</p>
                                <p id="hq">Give yourself spa-level treatment with this nourishing, lifting masque. Uniquely formulated, this masque peels away old, dead skin to reveal a more smooth, firm and youthful-looking appearance.</p>
                                <p id="hq">SIZE: 118 mL (4 oz.)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="l-2">
                        <div class="col-6">
                            <div class="lum">
                                <img src="{{url_for('static', filename='img/l6.jfif')}}" alt="">
                            </div>
                            
                        </div>
                        <div class="qisa">
                            <div class="col-6">
                                <h1>Luminesce® Flawless Skin Brightener</h1>
                                <p>TL1,310.22 Buy Now Price</p>
                                <form action="">
                                    <input type="number" class="number">
                                </form>
                                <a href="#" type="button" class="learn-btn">ADD TO CART</a>
                                <p id="barcod">Barcod No: 8681756005420</p>
                                <p id="hq">Attain flawless skin with this unique brightening gel. This hydrating formula includes ingredients that reduces the appearance of hyperpigmentation, and refines the look of pores for healthy, bright-looking skin. See visible improvements with this highly effective gel.</p>
                                <p id="hq">SIZE: 30 mL (1 oz.)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="l-1">
                        <div class="col-6">
                            <div class="lum">
                                <img src="{{url_for('static', filename='img/l7.jfif')}}" alt="">
                            </div>
                            
                        </div>
                        <div class="qisa">
                            <div class="col-6">
                                <h1>Luminesce® HydraShield Mask</h1>
                                <p>TL460.14 Buy Now Price</p>
                                <form action="">
                                    <input type="number" class="number">
                                </form>
                                <a href="#" type="button" class="learn-btn">ADD TO CART</a>
                                <p id="barcod">Barcod No: 8681756005420</p>
                                <p id="hq">The Luminesce® HydraShield Mask helps minimize the effects of exposure to environmental aggressors with four powerful elements: antipollution, detoxification, hydration and APT-200. Made of coconut biocellulose, this mask is infused with antioxidant-rich shea butter and ultra-hydrating Asian grass root extract. Dull, tired skin is instantly soothed and moisturized. This 4-in-1 shield helps strengthen the skin’s protective barrier to reveal a more radiant and youthful complexion.</p>
                                <p id="hq">Size:  5 biocellulose sheet masks | 5 x 0.8oz / 25g pouches</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
