<div class="container">
    <div class="row">
        <div class="col">
            <div class="menu">
                <div class="brand">
                    <img src="{{url_for('static', filename='img/logo.png')}}" alt="">
                </div>
                <div class="menuyan">
                    <ul>
                        <li><a href="#">Products</a>
                        </li>
                        <li><a href="../templates/Support.html">About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>