<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="son">
                    
                    <div class="col">
                        <img src="{{url_for('static', filename='img/logo.png')}}" alt="">
                        <div class="hq">
                            <h1>Seanesse.az is at your service!</h1>
                        </div>
                    </div>

                    <div class="col">
                            <h1>AFFILIATES</h1>
                            <div class="affiiates">
                                <img src="{{url_for('static', filename='img/dsa.png')}}" alt="">
                                <img src="{{url_for('static', filename='img/dsn.png')}}" alt="">
                                <img src="{{url_for('static', filename='img/100dsn.png')}}" alt="">
                            </div>
                    </div>
                    
                    <div class="col">
                        <h1>CONNECT</h1>
                        <div class="connect">
                            <div class="footer-icons">
                                <ul>
                                    <li>
                                        <a href="https://www.instagram.com/seanesse.az/"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    
                                    <li>
                                        <a href="https://www.facebook.com/seanesseaz-107194821278646"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCp_t8NtgbXyyUIMzlQ2hiCg"><i class="fab fa-youtube"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://wa.me/message/POQGKFYSIKCZA1"><i class="fab fa-whatsapp"></i></a>
                                    </li>     
                                </ul>
                            </div>
                            <div class="qr-code">
                                <img src="{{url_for('static', filename='img/qr-cod.jpeg')}}" alt="">
                            </div>
                        </div>
                       
                    </div>
                        
                    <div class="col">
                        <h1>GET STARTED</h1>
                            <button>
                                <a href="../myportfolio.html">BUY</a>
                            </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    </footer>



